.rating-indicator {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating-indicator-score {
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

:host{
    position: absolute;
    right: 0;
    top: 0;
    width: 2.6em;
    height: 2.6em;
    flex-shrink: 0;
    z-index: 1;
}