<div id="content">
    <div *ngIf="loaded" id="wrapper">
        <app-artist-banner
            [data]="{name: artist?.name.toUpperCase(), image: artist?.images[0].url, colors: {vibrant: vibrantColor, darkVibrant: darkVibrantColor}}">
        </app-artist-banner>
        <div id="results">
            <h3 [style.color]="vibrantColor" id="genres">{{artist?.genres | join: ' / '}}</h3>
            <div>
                <div style="position: relative;" *ngFor="let results of releases">
                    <mat-paginator *ngIf="results.total >= 20" [length]="results.total" [hidePageSize]="true"
                        [pageSize]="20" (page)="pageChangeEvent($event, results.type)">
                    </mat-paginator>
                    <app-result-row
                        [data]="{color: vibrantColor, releases: results.releases, total: results.total, type: results.type}">
                    </app-result-row>
                </div>
            </div>
        </div>
    </div>
</div>