<div id="analytics-view">
    <div (click)="handleAnalyticElement()" class="analytic-element">
        <h3 class="analytic-title">#{{ranks.userRank | default: '-'}}</h3>
        <p class="analytic-description">Your Chart</p>
    </div>
    <div class="vertical-line-break"></div>
    <div class="analytic-element">
        <h3 class="analytic-title" style="font-size: 1em;">Coming<br>Soon</h3>
        <p class="analytic-description">Genre Chart</p>
    </div>
    <div class="vertical-line-break"></div>
    <div class="analytic-element">
        <h3 class="analytic-title" style="font-size: 1em;">Coming<br>Soon</h3>
        <p class="analytic-description">World Chart</p>
    </div>
</div>